/*AQUI LOS ESTILOS QUE NO QUIERO QUE LLEVEN BOOTSTRAP*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300&display=swap');


/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/


*{
  padding: 0;
  margin: 0;
}

.navegacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  right: auto;
  background-color: #96a7b7d4;
}



.links-container {
  max-height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.hidden {
  display: none;
}

.links {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}



.toggle-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-direction: end;
  position: absolute;
  top: 5px;
  right: 10px;
}




